django
gunicorn
whitenoise
google-genai  # ⚠️ የዘመነው የጉግል ኤስዲኬ (google-generativeai በዚህ ተተክቷል)
django-environ
dj-database-url
psycopg2-binary
requests
beautifulsoup4
django-cloudinary-storage
cloudinary
Pillow
groq
polib